pymongo
pymongo[srv] # mongodb server
dnspython # dns server
pandas
numpy
ensure 

-e .

# specially for testing
pytest==7.1.3 # testing use cases for unit and integration testing
tox # tox.ini -> tests our code in different enviorments
tox-gh-actions
tox-factor
# linitng tools => to keep the format and structure of the code standard
black==22.8.0 
flake8==5.0.4


mypy==0.971


